<style>
._1 {
    display: none;
    }
    .flex-container-row {
      display: flex;
      flex-direction: row;
      flex: 50%;

    }
    .flex-container-column {
      display: flex;
      flex-direction: column;
      flex: 50%;
    }
    .number {
      position: absolute;
    }
    .button1 {
      position: fixed;
      bottom: 20px;
    }
    .button2 {
      position: fixed;
      bottom: 20px;
      left: 50px;
    }
</style>