<h1 style="color:DodgerBlue; font-family:verdana;">PIRATES</h1>
<h2 style="color:DodgerBlue;"><small>6</small></h2>
<h1 style="color:Tomato; font-family:courier; font-size:300%; text-align:right;">BULLS</h1>
<h2 style="color:Tomato; text-align:right;"><small>5</small></h2>


<div class="_1"><img src="https://gamedata.britishcouncil.org/sites/default/files/attachment/number-1.jpg" alt="1"></div>

<div class="_2"><img src="https://gamedata.britishcouncil.org/sites/default/files/attachment/number-2.jpg" alt="2"></div>

<div class="_3"><img src="https://gamedata.britishcouncil.org/sites/default/files/attachment/number-3.jpg" alt="3"></div>

<div class="_4"><img src="https://gamedata.britishcouncil.org/sites/default/files/attachment/number-4.jpg" alt="4"></div>

<div class="_5"><img src="https://gamedata.britishcouncil.org/sites/default/files/attachment/number-5.jpg" alt="5"></div>

<div class="_6"><img src="https://gamedata.britishcouncil.org/sites/default/files/attachment/number-6.jpg" alt="6"></div>

<div class="_7"><img src="https://gamedata.britishcouncil.org/sites/default/files/attachment/number-7.jpg" alt="7"></div>

<div class="_8"><img src="https://gamedata.britishcouncil.org/sites/default/files/attachment/number-8.jpg" alt="8"></div>

<div class="_9"><img src="https://gamedata.britishcouncil.org/sites/default/files/attachment/number-9.jpg" alt="9"></div>

<div class="_10"><img src="https://gamedata.britishcouncil.org/sites/default/files/attachment/number-10.jpg" alt="10"></div>


</body>
</html>

